{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content%}
<div class="wrapper">
  <div class="rts-container">
    <div class="intro">
      <h1 class="rts-levels-heading">ADA Information</h1>
      <h2 class="visit-heading">McCallum Arts Center</h2>
      <h3 class="visit-heading">Parking</h3>
      <p>
        There are five ADA parking spots directly north of the McCallum Arts
        Center in the lot adjacent to Sunshine Drive.
      </p>

      <div class="rts-wrapper">
        <div>
          <img
            src="../images/ADA-circled-MAC.jpg"
            alt="ADA parking spots at McCallum Arts Center at McCallum High School in Austin, TX"
            width="600"
            loading="eager"
          />
        </div>
      </div>
      <!--.rts-wrapper-->

      <h3 class="visit-heading">Seating</h3>
      <p>
        In the MAC theater,
        <b
          >row K is the only row that is level with the entrance to the
          theater</b
        >
        (meaning no stairs are involved in accessing row K seats). To access any
        other row, you will have to either go down or go up stairs.
      </p>

      <p>
        <b> ADA seating is available in the center section of row K. </b>There
        are six ADA slots, which are empty slots without a physical seat, and
        six ADA companion seats. Each ADA slot has one companion seat. The ADA
        slots are marked with an accessible icon on the seat map, and the seat
        numbers will include a “W” when you purchase your tickets. See the
        sample map below for the location of the ADA slots and companion seats.
      </p>
      <div class="rts-wrapper">
        <div>
          <img
            src="../images/MAC-ADA-Seating-Map.jpg"
            alt="seating map showing ADA seats at McCallum Arts Center at McCallum High School in Austin, TX"
            width="600"
            loading="eager"
          />
        </div>
      </div>
      <hr />
      <h2 class="visit-heading">Fine Arts Building</h2>
      <h3 class="visit-heading">Parking</h3>
      <p>
        There are two ADA parking spots in the Fine Arts Building parking lot
        directly south of the McCallum Arts Center. They are at the back of the
        lot in the southwest corner, closest to the Fine Arts Building.
      </p>
      <div class="rts-wrapper">
        <div>
          <img
            src="../images/ADA-circled-FAB.jpg"
            alt="ADA parking spots at McCallum Arts Center at McCallum High School in Austin, TX"
            width="600"
            loading="eager"
          />
        </div>
      </div>
      <h3 class="visit-heading">Seating</h3>
      <p>
        The FAB theater seating is currently being reconfigured, but ADA seating
        is available. Please contact the MacTheatre box office at
        <a href="mailto:boxoffice@macrts.org">boxoffice@macrts.org</a> to
        arrange for ADA seating.
      </p>
    </div>
    <!--intro-->
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
