{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content%}
<div class="wrapper">
  <article class="intro home">
    <div class="intro__header">
      <h1 class="intro__heading">{{title}}</h1>
      <h2 class="rts__heading headline">(and Alumni Parents)</h2>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        One of the most powerful ways we can support MacTheatre students past,
        present, and future is building and maintaining an alumni network.
        Whether you’re a high-schooler visiting prospective schools or
        navigating college auditions, a recent graduate headed off to college,
        or a college graduate ready to break into the performing arts (or any
        other industry) professionally, being able to reach out to others with
        the shared experience of MacTheatre is invaluable.
      </p>
    </div>
  </article>
  <hr />
  <div class="rts-wrapper rev">
    <img
      class="rts-img"
      max-witdh="300"
      src="../images/vignette-photos/Eurydice-01.jpg"
      loading="lazy"
    />
    <div class="inner">
      <h2 class="rts__heading headline">Feeling nostalgic?</h2>
      <p class="rts-summary">
        If you want to take a trip down memory lane, you can check out the
        <a
          href="https://drive.google.com/drive/folders/1Nlloujbu73W09lDROAr8RX-UwDPmzQKR?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          >playbills</a
        >
        from every MacTheatre season going back to 2015/2016. There are also
        <a
          href="https://mactheatre.com/mactheatre-photos"
          target="_blank"
          rel="noopener noreferrer"
          >performance photos</a
        >
        going back to 2010
      </p>
      <p class="rts-summary">
        If you have playbills or photos that you’d like to share from earlier
        shows, please send them to us at
        <a href="mailto president@macrts.org">president@macrts.org</a> so we can
        post them. We’d love to have them for our archives.
      </p>
    </div>
  </div>
</div>
<!--wrappert-->
{% include "partials/prefooter.html" %} {% endblock %}
