{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <div class="rts-container first-wrapper-item">
    <h1 class="rts-levels-heading">{{title}}</h1>
    <div class="gb-wrapper">
      <div class="gb-container">
        <ul class="sponsor-checkout-list">
          <li>
            <b>To eliminate transaction fees</b>, you may select the “Mail a
            check” payment method and send a check to the specified address,
            which will also be included in your receipt.
          </li>
          <li>
            We are happy to accept qualified charitable distributions paid
            directly from your IRA, thus eliminating your taxes on the
            distribution.
          </li>
          <li>
            If you make a monthly <b>recurring donation</b>, your benefits will
            be calculated based on the projected sum of your donations through
            May 31, 2025. All recurring donations will be stopped as of June 1,
            2025, but you have the ability to cancel your recurring donations at
            any time.
          </li>
          <li>
            <b>Does Your Company Match Donations?</b> Please take advantage of
            corporate matching to double your impact! Donor benefits are
            calculated based on your donation combined with your company’s
            match.
          </li>
          <li>
            Once we receive your donation, we’ll be in touch about your
            benefits.
          </li>
        </ul>
      </div>
      <div class="gb-container">
        <!-- Element Name: Donor Form 2024 -->
        <givebutter-widget id="j9e1Bj"></givebutter-widget>
      </div>
    </div>
    <!--.gb-wrapper-->
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
