{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <article class="intro home">
    <div class="intro__header">
      <h1 class="intro__heading">{{ pageHeaderTitle }}</h1>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        MacTheatre and the Royale Theatre Society believe that all students,
        regardless of their financial circumstances, should have access to high
        quality theatre productions and programs. No student will be prevented
        from participating in theatre because of an inability to pay. For any
        questions regarding RTS financial aid applications, please contact
        <a href="mailto:scholarships@macrts.org">scholarships@macrts.org</a>.
      </p>
    </div>
    <!--intro-content-->
  </article>
  <hr />
  <div class="rts-container">
    <div class="rts-wrapper">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Cows-03.jpg"
        loading="eager"
      />
      <div class="inner">
        <h2 class="rts__heading headline">Production Fee Assistance</h2>
        <p class="rts__summary">
          Production Fees (also known as Fair Share Fees) are annual fees that
          are required of all performance theatre majors, technical theatre
          majors, musical certificate students, and any other student
          participating in a production.
          <a
            href="https://mactheatre.com/fair-share-fees"
            target="_blank"
            rel="noopener noreferrer"
            >Learn More.</a
          >
        </p>
        <p class="rts__summary">
          If you would like to request financial assistance to cover the cost of
          your production fees, please click the button below. Applications are
          kept confidential and are seen only by the RTS Scholarships Committee
          chair.
        </p>
        <a
          target="_blank"
          href="https://docs.google.com/forms/d/e/1FAIpQLScKtQZy6cEcwayOiPnTr5yjAzhO4gSeuHiGFYvn6glXJ7an1w/viewform"
          class="button"
          >Apply Now →</a
        >
      </div>
      <!--inner-->
    </div>
    <hr />
    <div class="rts-wrapper first-wrapper-item rev">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Cows-07.jpg"
        loading="lazy"
      />
      <div class="inner">
        <h2 class="rts__heading headline">
          Texas Thespians Festival Trip Fee Assistance
        </h2>
        <p class="rts__summary">
          Each year, MacTheatre students have the option of attending the Texas
          Thespians State Festival, a state-wide conference hosting over 8,000
          middle school and high school theatre students for three days of
          educational seminars, workshops, performances, and competitions.
          <a
            href="https://mactheatre.com/texas-thespian-festival"
            target="_blank"
            rel="noopener noreferrer"
            >Learn more</a
          >.
        </p>
        <p class="rts__summary">
          If you would like to request financial assistance to cover part or all
          of the cost of your Texas Thespians State Festival trip fees, please
          click the button below. Applications are kept confidential and are
          seen only by the RTS Scholarships Committee chair.
        </p>
        <a
          target="_blank"
          href="https://docs.google.com/forms/d/1jJ2SPIfK4JQQ14GlhhlSbK5N77oK7hLNNNhjNSwHj1w/viewform?"
          class="button"
          >Apply Now →</a
        >
      </div>
      <!--inner-->
    </div>
  </div>
  <hr />
  <article class="intro home">
    <div class="intro__content">
      <p class="intro__summary">
        If you would like financial assistance with apparel/equipment required
        for class or productions (jazz shoes, character shoes, etc.), or have
        any questions about financial aid in general, please contact us at
        <a href="mailto:scholarships@macrts.org">scholarships@macrts.org</a>.
      </p>
    </div>
    <!--intro-content-->
  </article>
</div>
{% include "partials/prefooter.html" %} {% endblock %}
