{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content%}
<div class="wrapper">
  <article class="intro home">
    <div class="intro__header">
      <h1 class="intro__heading">{{ pageHeaderTitle }}</h1>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        In-kind contributions are integral to RTS’s mission of supporting
        MacTheatre productions. Contributions such as meals to feed the cast and
        crew or printing services to cover playbill costs enable us to devote
        more of our limited budget to production costs and new enrichment
        opportunities for our students.
      </p>
    </div>
    <!--intro-content-->
  </article>
  <hr />
  <div class="rts-container">
    <div class="rts-wrapper first-wrapper-item">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Jumbaline-02.jpg"
        loading="eager"
      />
      <div class="inner">
        <h2>Contributor Benefits</h2>
        <p>
          When the value of your contributions totals $50 or more for a single
          show, you will receive the benefits below:
        </p>
        <ul class="list">
          <li>
            Your logo with a link to your website will be included on the RTS
            <a href="https://macrts.org/">home page</a> and
            <a href="/our-supporters/#in-kind-donors">supporters page</a>
            for the remainder of the season.
          </li>
          <li>
            Your logo will be highlighted in the post-show email sent to all of
            the patrons of the show that the contribution applied to.
          </li>
        </ul>
        <p>
          When the value of your contributions totals $500 or more in a single
          school year, you will be acknowledged as an
          <b>associate producer</b> and receive the related
          <a href="/season-sponsorships/">season sponsorship package</a>
          during the following school year.
        </p>
        <p>
          When the value of your contributions totals $1000 or more in a single
          school year, you will be acknowledged as a <b>lead producer</b> and
          receive the related <a href="season sponsorship package"></a> during
          the following school year.
        </p>
        <p>
          For questions or more information, please contact us at
          <a href="mailto:development@macrts.org">development@macrts.org</a>
          .
        </p>
      </div>
    </div>
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
