<div
  class="main-carousel carousel"
  data-flickity='{ "autoPlay": 4000, "wrapAround": true, "prevNextButtons": true, "pageDots": false, "pauseAutoPlayOnHover": false, "lazyLoad": true

}'
>
  <div class="carousel-cell">
    <a href="gallery/"
      ><img
        src="../images/carousel-images/SpongeBob.jpg"
        alt="high school students performing at McCallum Fine Arts Academy"
        width="1440"
        height="560"
        loading="eager"
    /></a>
  </div>
  <div class="carousel-cell">
    <img
      srcset="../images/carousel-images/Antigone.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="../images/carousel-images/Eurydice.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="../images/carousel-images/Descendants.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="../images/carousel-images/Joseph.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="../images/carousel-images/Jumbaline.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>

  <div class="carousel-cell">
    <img
      src="../images/carousel-images/ATWH-with-Crew.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
</div>
