<div
  class="main-carousel carousel"
  data-flickity='{ "autoPlay": 4000, "wrapAround": true, "prevNextButtons": true, "pageDots": false, "pauseAutoPlayOnHover": false, "lazyLoad": true

}'
>
  <div class="carousel-cell">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://thelongcenter.org/hellerawards/"
    >
      <img
        src="../images/carousel-images/01-Pippin-Composite.jpg"
        alt="high school students performing at McCallum Fine Arts Academy"
        width="1440"
        height="560"
        loading="eager"
      />
    </a>
  </div>
  <div class="carousel-cell">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.uiltexas.org/theatre/high-school-one-act"
    >
      <img
        srcset="../images/carousel-images/02-Antigone-Composite.jpg"
        alt="high school students performing at McCallum Fine Arts Academy"
        width="1440"
        height="560"
      />
    </a>
  </div>
  <div class="carousel-cell">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://mccallum.ludus.com/index.php"
    >
      <img
        src="../images/carousel-images/03-Season-Composite.jpg"
        alt="high school students performing at McCallum Fine Arts Academy"
        width="1440"
        height="560"
      />
    </a>
  </div>
  <div class="carousel-cell">
    <a target="_blank" rel="noopener noreferrer" href="https://mactheatre.com/">
      <img
        src="../images/carousel-images/04-Eurydice-Composite.jpg"
        alt="high school students performing at McCallum Fine Arts Academy"
        width="1440"
        height="560"
      />
    </a>
  </div>
  <div class="carousel-cell">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://macrts.org/donate/"
    >
      <img
        src="../images/carousel-images/05-Descendants-Composite.jpg"
        alt="high school students performing at McCallum Fine Arts Academy"
        width="1440"
        height="560"
      />
    </a>
  </div>
</div>
