<div class="footer-wrapper">
  <div class="footer__inner">
    <div class="footer-item footer-item__brand">
      <a href="/">
        {% include "partials/brand.svg" %}<span>Royale Theatre Society</span></a
      >
    </div>
    <div class="footer-item">
      <a class="social-nav__button" href="/contact/">contact us</a>
    </div>
    <div class="footer-item footer-external">
      <a href="http://mactheatre.com" target="_blank" rel="noopener"
        >MacTheatre.com</a
      >
    </div>
    <div class="footer-item">
      <p>501(c)(3) Nonprofit Tax ID<br />87-2157644</p>
    </div>
    <div class="footer-item">
      <address>
        RTS at McCallum High School<br />
        PO Box 301178<br />
        Austin, TX 78703
      </address>
    </div>
    <div class="footer-item">
      <ul class="social-nav">
        {% include "partials/social-menu.html" %}
      </ul>
    </div>

    <!--.footer-wrapper-->
  </div>
  <!--footer__inner-->
</div>

<div class="footer-attrib">
  <p>
    “Photos by:
    <a
      href="https://mactheatrephotos.smugmug.com/"
      target="_blank"
      rel="noopener noreferrer"
      >Ricardo Cidale</a
    >,
    <a
      href="https://www.violetcrownphotoworks.com/"
      target="_blank"
      rel="noopener noreferrer"
      >Michael Reyna</a
    >,
    <a
      href="https://tammyfotinos.smugmug.com/"
      target="_blank"
      rel="noopener noreferrer"
      >Tammy Fotinos</a
    >, and Lisabeth Sewell”
  </p>
</div>
